*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: url(./images/login.jpg);
  color: white;
  background-size: cover;
  margin-top: 100px;
  display: grid;
  justify-items: center;
}

.login{
  background-color: rgb(190, 190, 190, 0.2);
  border: 1px solid white;
  padding: 20px;
  border-radius: 15px;
}