body{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url("https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80");
  
}

.productBox{
  margin: 30px;
  display: flex;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.rightDiv{
  width: 60%;
}

.leftDiv{
  width: 40%;
}

img{
  margin: 5px;
  width: 130px;
}

h1{
  width: 100%;
  text-align: center;
}